* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
  /* height: 92vh; */
}

body {
  width: 100vw;
  height: 100vh;
}
