.main {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  flex: 30%;
  padding: 20px;
}

.profile-section {
  display: flex;
  padding: 3%;
}

.bio {
  flex: 70%;
}

.profile-photo {
  padding: 5%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  padding: 2%;
  margin: auto;
}

.projects-header {
  width: 70%;
  border-bottom: 1px solid grey;
  margin: auto;
}

.projects-header h2 {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  background-color: white;
  transform: translate(-200%, 50%);
}

.project-info {
  flex: 30%;
  width: 200px;
}
.project-screenshot {
  flex: 70%;
  margin: 10px auto;
  width: 80%;
  height: auto;
}

.project-screenshot img {
  width: 80%;
}

/* @media screen and (max-width: 700px) {
  .main,
  nav {
    flex-direction: column;
  }
} */
