.main {
  padding: 0 5%;
}

.profile-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1000px;
}

.bio-box {
  height: auto;
  width: 500px;
}

.profile-photo-box {
  background-color: #e1f2f4;
  border-radius: 5%;
  padding: 40px;
  height: auto;
  width: 400px;
}

.profile-photo {
  width: 100%;
}

.projects {
  padding: 50px 3%;
  text-align: center;
}

.projects-header {
  width: 90%;
  border-bottom: 1px solid grey;
  margin: 0 auto 30px;
  text-align: center;
}

.projects-header h2 {
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  background-color: white;
  transform: translate(0, 50%);
}

.project-wrapper {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
  max-width: 1000px;
}

.project-info {
  width: 400px;
  padding-bottom: 20px;
}

.project-info h3 {
  font-size: 24px;
  font-weight: 200;
}

.project-screenshot {
  background-color: #e1f2f4;
  border-radius: 5%;
  width: 500px;
  padding: 30px;
}

.project-screenshot img {
  width: 100%;
}

footer {
  text-align: center;
  width: 100%;
  font-size: 16px;
  height: 150px;
  background-color: lightgrey;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links a {
  padding: 10px 20px;
  font-size: 18px;
}

@media only screen and (min-width: 900px) {
  .projects {
    margin-top: 70px;
  }

  .projects-header {
    margin-bottom: 80px;
  }

  .projects-header h2 {
    transform: translate(-200%, 50%);
  }

  .project-wrapper {
    margin-bottom: 100px;
  }

  .project-screenshot {
    background-color: #e1f2f4;
    border-radius: 5%;
    width: 550px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-screenshot img {
    width: 95%;
    transition: width 400ms;
  }

  .project-screenshot img:hover {
    width: 98%;
  }
}
