.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#addbe0, white);
  height: 120px;
  margin: 0;
}

.header h1 {
  font-size: 45px;
  font-weight: 100;
  margin: 0;
}

nav {
  background-color: white;
  opacity: 0.9;
  width: 1500px;
  margin: 0 auto;
  height: 50px;
  display: flex;
}

nav a {
  text-decoration: none;
  justify-content: left;
}

nav button {
  height: 100%;
  border: none;
  font-size: 21px;
  font-weight: 200;
  padding: 0 10px;
}

nav button:hover {
  color: white;
  background-color: grey;
  cursor: pointer;
}

.sticky {
  width: 1500px;
  left: 50%;
  transform: translate(-50%);
  position: fixed;
  top: 0;
}

.extra-padding {
  padding-top: 50px;
}

/* @media only screen and (min-width: 568px) {
}

@media only screen and (min-width: 900px) {
} */
